.select {
  @include control;
  appearance: none;
  cursor: pointer;

  &-wrapper {
    align-items: center;
    display: inline-flex;
    flex-shrink: 100;
    position: relative;
    width: 100%;

    &::after {
      @include arrow('down', 'right');
    }
  }
}

.label--inline {

  .select {
    // prevent arrow from overlapping default placeholder
    min-width: 12em;
  }
}
