@mixin button-size-small {
  @include font-size(6);
}

@mixin button-size-regular {
  @include font-size(5);
}

@mixin button-size-large {
  @include font-size(4);
}

@mixin button-color($button-color) {
  $white-or-ice: ($button-color == 'white') or ($button-color == 'ice');
  $base-color: color($button-color);

  $active-shadow: inset 0 0 0.5em 0 darken($base-color, 25%);
  $focus-shadow: inset 0 0 1px 2px darken($base-color, 10%);

  background-color: $base-color;
  border-color: darken($base-color, 10%) !important;
  color: if($white-or-ice, color('night'), color('ice'));

  &:hover {
    $hover-color: if(
      $white-or-ice,
      darken($base-color, 5%),
      color($button-color, 'light')
    );

    background-color: $hover-color;
  }

  &:active {
    $active-color: if(
      $white-or-ice,
      darken($base-color, 10%),
      color($button-color, 'dark')
    );

    background-color: $active-color;
    box-shadow: $active-shadow, $focus-shadow, shadow('heavy');
  }
}
