@mixin control-border-shadow {
  box-shadow: 0 0 0 2px color('spartan_blue', 'light'), shadow();
}

@mixin control-focus {
  @include control-border-shadow;
  outline: none;
}

@mixin control-disabled {
  background-color: color('grey', 'light');
  cursor: not-allowed;
}

@mixin control-invalid {
  box-shadow: 0 0 0 2px color('red'), shadow() !important;
}

@mixin control {
  background-color: color('white');
  border: border();
  border-radius: border-radius('small');
  display: inline-block;
  flex: 1 1 0;
  margin-top: spacing('half');
  padding: spacing('half') spacing();
  text-transform: none;
  transition: all duration() easing();
  width: 100%;

  &:disabled {
    @include control-disabled;
  }

  &:focus:not(:disabled) {
    @include control-focus;
  }

  // stylelint-disable no-descending-specificity
  &:hover,
  &:active,
  &:hover:active {
    &:not(:disabled) {
      @include control-border-shadow;
    }
  }
  // stylelint-enable

  // only apply invalid styling to fields that have been touched
  &--invalid {
    @include control-invalid;
  }
}

@mixin control-inline-label {
  align-items: center;
  cursor: pointer;
  display: inline-flex;
  flex-direction: row-reverse;
  margin-top: 0 !important;

  &:not(:last-child) {
    margin-right: 1em;
  }
}

@mixin check-or-radio {
  opacity: 0;
  position: absolute;

  & ~ &__check {
    align-items: center;
    background-color: color('white');
    border: border();
    display: flex;
    height: 1em;
    justify-content: center;
    margin: spacing('half');
    transition: all duration() easing();
    width: 1em;

    @content;

    &--invalid {
      @include control-invalid;
    }
  }

  &:disabled ~ &__check {
    @include control-disabled;
  }

  &:not(:disabled) ~ &__check:hover {
    @include control-border-shadow;
  }

  &:active:not(:disabled) ~ &__check {
    @include control-border-shadow;
  }

  &:focus:not(:disabled) ~ &__check {
    @include control-focus;
  }

  &:checked:not(:focus):not(:disabled) ~ &__check {
    box-shadow: 0 0 0 1px color('spartan_blue', 'light'), shadow();
  }

  &:disabled:checked ~ &__check::after {
    // force checked radios and checkboxes to grey
    background-color: color('grey', 'dark');
    border-color: color('grey', 'dark');
  }
}

@mixin switch-size($switch-size: 'base') {
  $toggle-size: 1.5em;

  @if $switch-size == 'base' {
    $toggle-size: 1.5em;
  } @else if $switch-size == 'medium' {
    $toggle-size: 2em;
  } @else if $switch-size == 'large' {
    $toggle-size: 3em;
  }

  border-radius: $toggle-size;
  height: $toggle-size;
  width: 2 * $toggle-size;

  &::after {
    height: $toggle-size;
    width: $toggle-size;
  }
}

@mixin switch {
  @include check-or-radio;

  & ~ &__check {
    @include switch-size;

    justify-content: flex-start;

    &::after {
      background: color('white');
      border: border();
      border-radius: border-radius('circle');
      box-shadow: shadow();
      content: '';
      left: -1px;
      position: relative;
      transition: all duration() easing('in');
    }
  }

  &:disabled ~ &__check::after {
    background-color: color('grey', 'dark');
  }

  &:not(:disabled) ~ &__check {
    cursor: pointer;
  }

  &:checked ~ &__check {
    border: none;

    &::after {
      transform: translateX(calc(100% + 2px));
    }
  }

  &:checked:not(:disabled) ~ &__check {
    background-color: color('green');
  }
}
