/// Returns the shadow for the specified depth
/// @param {String} $depth [base] - The shadow’s depth.
/// @return {List} The shadow value.

@function shadow($depth: base) {
  $fetched-value: map-get($shadows-data, $depth);

  @if type-of($fetched-value) == list {
    @return $fetched-value;
  } @else {
    @error 'Shadow variant `#{$depth}` not found. Available variants: #{available-names($shadows-data)}';
  }
}

$shadow-color: color('night');

$shadows-data: (
  border: (
    0 0 1px transparentize($shadow-color, 0.8)
  ),
  base: (
    0 0.25em 1em transparentize($shadow-color, 0.8)
  ),
  heavy: (
    0 0.5em 1.5em 0.25em transparentize($shadow-color, 0.8)
  ),
  transparent: (
    0 0 0 0 transparent
  )
);
