$base-font-size: 16px;
$base-line-height: 1.5;
$large-text-line-height: 1.25;

@mixin font-size($size) {
  font-size: map-get(nth($sizes, $size), 'size');
  letter-spacing: map-get(nth($sizes, $size), 'tracking');
  line-height: map-get(nth($sizes, $size), 'leading');
}

@mixin display($size, $text-transform: null) {
  @include font-size($size);

  @if ($text-transform) {
    text-transform: $text-transform;
  }

  font-weight: 700;

  &:not(:only-child) {
    margin-bottom: 1em;
  }

  &:not(:first-child) {
    margin-top: 2em;
  }
}

.display-1 {
  @include display(1);
}

.display-2 {
  @include display(2);
}

.heading-1 {
  @include display(3, uppercase);
}

.heading-2 {
  @include display(4, uppercase);
}

.heading-3 {
  @include display(5, uppercase);
}

.caption {
  @include font-size(6);
  color: color('spartan-grey');

  &:not(:first-child) {
    margin-top: -1rem;
  }
}

.uppercase {
  text-transform: uppercase;
}
