.button {
  @include button-size-regular;

  align-items: center;
  border-radius: border-radius('small');
  box-shadow: shadow('base');
  cursor: pointer;
  display: inline-flex;
  padding: spacing('half') spacing();
  transition: all duration() easing();

  &--icon-only {
    padding: 0;
  }

  &__icon {
    &--left {
      margin-right: spacing('half') + spacing('quarter');
    }

    &--right {
      margin-left: spacing('half') + spacing('quarter');
    }

    .button--icon-only & {
      margin: spacing('half');
    }

    .button:disabled & {
      filter: none;
      stroke: color('night', 'lightest');
    }
  }

  &:disabled {
    background-color: color('grey', 'light') !important;
    border-color: color('grey') !important;
    box-shadow: none !important;
    color: color('night', 'lighter') !important;
    cursor: not-allowed;
    text-shadow: none !important;
  }

  &:not(:disabled):hover {
    box-shadow: shadow('heavy');
  }

  &--size-small {
    @include button-size-small;
  }

  &--size-regular {
    @include button-size-regular;
  }

  &--size-large {
    @include button-size-large;
  }

  @each $color-name in $button-colors {
    &--color-#{$color-name} {
      @include button-color($color-name);
    }
  }
}
