.button {
  @include button-size-regular;

  border-radius: border-radius('small');
  box-shadow: shadow('base');
  cursor: pointer;
  padding: spacing('half') spacing('double');
  transition: all duration() easing();

  &:disabled {
    background-color: color('grey', 'light');
    border-color: color('grey') !important;
    box-shadow: none !important;
    color: color('night', 'lighter');
    cursor: not-allowed;
  }

  &:not(:disabled):hover {
    box-shadow: shadow('heavy');
  }

  &--size-small {
    @include button-size-small;
  }

  &--size-regular {
    @include button-size-regular;
  }

  &--size-large {
    @include button-size-large;
  }

  @each $color-name in $button-colors {
    &--color-#{$color-name} {
      @include button-color($color-name);
    }
  }
}
