
$spartan-blue: hsla(210, 100%, 30%, 1);
$spartan-white: hsla(0, 0%, 100%, 1);
$spartan-black: hsla(210, 24%, 17%, 1);
$spartan-grey: hsla(210, 3%, 86%, 1);
$spartan-green: hsla(144, 71%, 47%, 1);
$spartan-gold: hsla(40, 97%, 55%, 1);
$spartan-cyan: hsla(195, 100%, 47%, 1);
$font-family-sans-serif: 'Avenir Next', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
$font-family-monospaced: 'SFMono-Regular', Consolas, 'Fira Sans', 'Liberation Mono', Menlo, 'Courier New', Courier, monospace;
$font-weight-bold: 700;
$font-weight-light: 300;
$font-weight-regular: 400;
$base-font-size: 16px;
$font-size-1: 5rem;
$font-size-2: 3.375rem;
$font-size-3: 2.25rem;
$font-size-4: 1.5rem;
$font-size-5: 1rem;
$font-size-6: 0.75rem;
$font-size-7: 0.5rem;
$spacing-none: 0;
$spacing-quarter: 0.25em;
$spacing-half: 0.5em;
$spacing-base: 1em;
$spacing-1-5x: 1.5em;
$spacing-2x: 2em;
$spacing-3x: 3em;
$spacing-4x: 4em;
