.hero {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &--height {
    &-half {
      min-height: 50vh;
    }

    &-full {
      min-height: 100vh;
    }
  }

  &__body {
    align-items: center;
    display: flex;
    flex: 1 0 auto;
    padding: spacing('triple') spacing('loose');
  }

  &--has-no-padding {
    .hero__body {
      padding: spacing('none');
    }
  }

  &__foot,
  &__head {
    flex: 0 0 auto;
  }

  @each $color-name in $hero-colors {
    &--color-#{$color-name} {
      background-color: color($color-name);
      color: choose-contrast-color($color-name);
    }
  }
}
