.icon {
  fill: none;
  height: 1.5em;
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 0.125em;
  width: 1.5em;

  &--size-small {
    height: 0.75em;
    width: 0.75em;
  }

  &--size-regular {
    height: 1.5em;
    width: 1.5em;
  }

  &--size-large {
    height: 4em;
    width: 4em;
  }

  @each $color-name in $button-colors {
    &--color-#{$color-name} {
      stroke: color($color-name);
    }
  }
}
