.container {
  background-color: color('ice');
  width: 80%;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

@mixin column-width($width) {
  flex: 0 0 $width/12 * 100%;
  max-width: $width/12 * 100%;
}

.column {
  display: block;
  flex: 1 1 0px;
  padding: 0 spacing('half');

  &--narrow {
    flex: 0;
  }

  @for $i from 1 through 11 {

    &--#{$i} {
      @include column-width($i);
    }
  }
}
