.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 -1 * spacing();

  &--columns {
    &-center {
      @include generate-all-breakpoints {
        justify-content: center;
      }
    }

    &-right {
      @include generate-all-breakpoints {
        justify-content: flex-end;
      }
    }
  }

  &--vertically-centered {
    @include generate-all-breakpoints {
      align-items: center;
    }
  }
}
