.column {
  // `0px` is for IE11
  flex: 1 1 0px;
  max-width: 100%;
  padding: 0 spacing('half');
  position: relative;

  // Responsive columns

  @each $breakpoint in map-keys($media-breakpoints) {
    &--#{$breakpoint} {
      @include until-breakpoint($breakpoint) {
        flex: 0 1 auto;
        width: 100%;
      }
    }
  }

  // Fractional columns

  @for $i from 1 through $grid-columns {
    &--#{$i} {
      @include generate-all-breakpoints-after {
        @include column-width($i);
      }
    }

    // Offsets
    &--offset-#{$i} {
      @include generate-all-breakpoints-after {
        margin-left: percentage($i, $grid-columns);
      }
    }

    // Column order
    &--order-#{$i} {
      @include generate-all-breakpoints-after {
        order: $i;
      }
    }

    &--order-first {
      @include generate-all-breakpoints-after {
        order: -1;
      }
    }

    &--order-last {
      @include generate-all-breakpoints-after {
        order: $grid-columns + 1;
      }
    }
  }

  // Fit column to content
  &--narrow {
    @include generate-all-breakpoints {
      flex: none;
    }
  }
}
