// component styles
.toast {
  align-items: center;
  background-color: color('white');
  border-radius: border-radius();
  bottom: 1em;
  box-shadow: shadow('border'), shadow();
  display: inline-flex;
  max-width: 44em;
  position: absolute;

  &__icon {
    align-items: center;
    display: flex;
    padding: spacing();
  }

  &__text {
    padding: spacing();
    padding-left: 0;

    &:not(:last-child) {
      padding-right: spacing('half');
    }
  }

  &__title {
    font-weight: $font-weight-bold;
    text-transform: uppercase;
  }

  &__action {
    align-self: stretch;
    border-bottom-right-radius: border-radius();
    border-top-right-radius: border-radius();
    background-color: transparent;
    color: color('spartan_blue');
    cursor: pointer;
    padding: spacing();

    &:hover {
      background-color: color('grey', 'lighter');
    }

    &:active {
      background-color: color('grey', 'light');
    }
  }

  &--warning {
    .toast__action {
      color: color('gold', 'dark');
    }
  }

  &--error {
    .toast__action {
      color: color('red');
    }
  }

  &--success {
    .toast__action {
      color: color('green', 'dark');
    }
  }

  &--right {
    right: 1em;
  }

  &--center {
    left: 50%;
    transform: translateX(-50%);
  }
}
