.chip-group {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -1 * spacing();
  margin-right: -1 * spacing();

  .chip {
    margin-bottom: spacing();
    margin-right: spacing();
  }

  @each $color-name in $button-colors {
    &--color-#{$color-name} {
      .chip {
        background-color: color($color-name);
        color: choose-contrast-color($color-name);

        .chip__close {
          box-shadow: none;

          &:active,
          &:not(:disabled):not(:active):hover {
            box-shadow: none !important;
          }
        }
      }
    }
  }
}
