.column {
  flex: 1 1 0;
  max-width: 100%;
  padding: spacing();
  position: relative;

  // Responsive columns (sm, md, lg, xl)
  @each $breakpoint in map-keys($media-breakpoints) {
    &--#{$breakpoint} {
      @include until-breakpoint($breakpoint) {
        flex: 0 1 auto;
        width: 100%;
      }
    }
  }

  // Fractional columns (.column--1, .column--md-1)
  // `&-` ensures proper BEM suffix for column sizes/breakpoints. (i.e.: '.column--md-1' not '.column-md-1'
  &- {
    @include generate-all-breakpoints-after {
      @for $i from 1 through $grid-columns {
        &-#{$i} {
          @include column-width($i);
        }
      }
    }
  }

  // Offsets
  &--offset {
    @include generate-all-breakpoints-after {
      @for $i from 1 through $grid-columns {
        &-#{$i} {
          margin-left: percentage($i, $grid-columns);
        }
      }
    }
  }

  // Column order
  &--order {
    @include generate-all-breakpoints-after {
      @for $i from 1 through $grid-columns {
        &-#{$i} {
          order: $i;
        }
      }
    }

    @include generate-all-breakpoints-after($suffix: 'first') {
      order: -1;
    }

    @include generate-all-breakpoints-after($suffix: 'last') {
      order: $grid-columns + 1;
    }
  }

  // Fit column to content
  &--narrow {
    @include generate-all-breakpoints {
      flex: none;
    }
  }
}
