.form-validation {
  display: flex;
  margin-top: spacing('half');

  &--success {
    color: color('green', 'dark');
  }

  &--warning {
    color: color('gold', 'dark');
  }

  &--error {
    color: color('red');
  }

  &__icon {
    flex: none;
    margin-right: spacing('half');
  }

  &__text {
    flex: auto;
  }
}
