.heading {
  font-weight: $font-weight-bold;
  margin-top: 2rem;
  margin-bottom: 1rem;
  text-transform: uppercase;

  &--level-1 {
    @include font-size(3);
  }

  &--level-2 {
    @include font-size(4);
  }

  &--level-3 {
    @include font-size(5);
  }

  &--level-4 {
    @include font-size(5);
    text-transform: none;
  }

  &--display {
    &-1 {
      @include font-size(1);
    }

    &-2 {
      @include font-size(2);
    }
  }

  &--subtle {
    font-weight: $font-weight-light;
    text-transform: none;
  }

  &--no-case {
    text-transform: none;
  }

  &--title {
    margin-bottom: 0;
  }

  &--subtitle {
    margin-top: 0 !important;
  }

  & + & {
    margin-top: 1rem;
  }

  &:first-child {
    margin-top: 0;
  }
}
