.button-group {
  .button {
    margin-right: spacing();
    margin-bottom: spacing();
  }

  @each $color-name in $button-colors {
    &--color-#{$color-name} {
      .button {
        @include button-color($color-name);
      }
    }

    &--color-#{$color-name}-outlined {
      .button {
        @include button-outline($color-name);
      }
    }
  }

  &--grouped {
    border-radius: border-radius('small');
    box-shadow: shadow();
    display: inline-block;

    .button {
      border-radius: 0;
      box-shadow: none;
      margin: 0;
      position: relative;

      &:first-child {
        border-top-left-radius: border-radius('small');
        border-bottom-left-radius: border-radius('small');
      }

      &:last-child {
        border-top-right-radius: border-radius('small');
        border-bottom-right-radius: border-radius('small');
      }

      &:not(:last-child) {
        border-right: 0;
      }

      &:focus {
        // Ensures outline fully visible when focused
        z-index: 10;
      }
    }

    @each $color-name in $button-colors {
      &.button-group--color-#{$color-name} {
        .button {
          &:not(:first-child) {
            // Ensures borders between buttons in grouped button groups are darkened
            // relative to their background
            border-left-color: darken(color($color-name), 20%);
          }
        }
      }
    }
  }

  &--disabled {
    box-shadow: none;
  }
}
