.button-group {
  .button {
    margin-right: spacing();
    margin-bottom: spacing();
  }

  @each $color-name in $button-colors {
    &--color-#{$color-name} {
      .button {
        @include button-color($color-name);
      }
    }
  }

  &--grouped {
    display: inline-block;
    // Ensures nicely wrapped shadow. Specifying spread radius breaks it.
    filter: drop-shadow(shadow());

    .button {
      border-radius: 0;
      border-right: border();
      box-shadow: none;
      margin: 0;
      position: relative;

      &:first-child {
        border-top-left-radius: border-radius('small');
        border-bottom-left-radius: border-radius('small');
      }

      &:last-child {
        border: 0;
        border-top-right-radius: border-radius('small');
        border-bottom-right-radius: border-radius('small');
      }

      &:focus {
        // Ensures outline fully visible when focused
        z-index: 10;
      }
    }
  }
}
