$button-colors: map-keys($color-palette-data);

@mixin button-size-small {
  @include font-size(6);
}

@mixin button-size-regular {
  @include font-size(5);
}

@mixin button-size-large {
  @include font-size(4);
}

@mixin button-color($button-color) {
  $white-or-ice: ($button-color == 'white') or ($button-color == 'ice');
  $base-color: color($button-color);

  background-color: $base-color;
  border-color: darken(color($button-color), 5%);
  color: if($white-or-ice, color('night'), color('ice'));

  &:hover {
    $hover-color: if(
      $white-or-ice,
      darken($base-color, 5%),
      color($button-color, 'light')
    );

    background-color: $hover-color;
    border-color: darken($hover-color, 5%);
  }

  &:active {
    $active-color: if(
      $white-or-ice,
      darken($base-color, 10%),
      color($button-color, 'dark')
    );

    background-color: $active-color;
    border-color: darken($active-color, 5%);
  }
}
