.table {
  &__cell {
    padding: spacing('base');

    &--numeric {
      text-align: right;
    }
  }

  thead {
    border-bottom: border();
    font-weight: $font-weight-bold;
    text-transform: uppercase;
  }

  &.table--bordered {
    tbody {
      tr {
        border-top: border();
      }
    }
  }

  &.table--striped {
    tbody {
      tr {
        &:nth-child(even) {
          background-color: lighten(color('grey', 'lighter'), 2%);
        }
      }
    }
  }

  &.table--hoverable {
    tbody {
      tr:hover {
        background-color: color('grey', 'lighter') !important;
      }
    }
  }
}
