// Styles
ul {
  li {
    line-height: spacing('double');
  }

  &.no-bullets {
    list-style: none;
    padding: spacing('none');
  }
}

.display-1 {
  @include display(1);
}

.display-2 {
  @include display(2);
}

.heading-1 {
  @include display(3, uppercase);
}

.heading-2 {
  @include display(4, uppercase);
}

.heading-3 {
  @include display(5, uppercase);
}

.caption {
  @include font-size(6);
  color: color('night', 'lighter');
  font-weight: $font-weight-regular;

  &:not(:first-child) {
    margin-top: -1rem;
  }
}

.uppercase {
  text-transform: uppercase;
}

@each $color-name in $text-colors {
  .text--color-#{$color-name} {
    color: color($color-name);

    @each $hue-name in map-keys(map-remove(map-get($color-palette-data, $color-name), 'base')) {
      &-#{$hue-name} {
        color: color($color-name, $hue-name);
      }
    }
  }
}

@each $alignment in $text-alignments {
  .text--align-#{$alignment} {
    text-align: $alignment;
  }
}

@for $size from 1 through length($sizes) {
  .text--size-#{$size} {
    @include font-size($size);
  }
}
