// Styles
ul {
  li {
    line-height: spacing('double');
  }

  &.no-bullets {
    list-style: none;
    padding: spacing('none');
  }
}

.caption {
  @include font-size(6);
  color: color('night', 'lighter');
  font-weight: $font-weight-regular;

  &:not(:first-child) {
    margin-top: -1rem;
  }
}

.uppercase {
  text-transform: uppercase;
}

.text {
  &--italic {
    font-style: italic;
  }

  @each $weight in $font-weights {
    &--weight-#{$weight} {
      text-align: $weight;
    }
  }

  @each $color-name in $text-colors {
    &--color-#{$color-name} {
      color: color($color-name);

      @each $hue-name in map-keys(map-remove(map-get($color-palette-data, $color-name), 'base')) {
        &-#{$hue-name} {
          color: color($color-name, $hue-name);
        }
      }
    }
  }

  @each $alignment in $text-alignments {
    &--align-#{$alignment} {
      text-align: $alignment;
    }
  }

  @for $size from 1 through length($sizes) {
    &--size-#{$size} {
      @include font-size($size);
    }
  }
}
