.label {
  // label style

  &--checkbox {
    @include control-inline-label;
  }
}

.checkbox {
  display: none;

  @include check-or-radio {
    border-radius: spacing('quarter');
  }

  &:checked ~ &__check::after {
    border: border-width('thick') solid color('green');
    border-left: none;
    border-top: none;
    content: '';
    height: 0.85em;
    position: relative;
    top: -0.15em;
    transform: rotate(45deg);
    width: 0.5em;
  }
}
