.table {
  &__header {
    border-bottom: border();
    font-weight: $font-weight-bold;
    table-layout: auto;
    text-transform: uppercase;
  }

  &__footer {
    border-top: border();
    font-weight: $font-weight-bold;
  }

  &__caption {
    @include font-size(6);
    caption-side: bottom;
    color: color('night', 'light');
    font-weight: $font-weight-regular;
    text-align: left;

    &--top {
      caption-side: top;
    }
  }

  &__container,
  &__overlay {
    overflow-x: auto;
    position: relative;
  }

  &__overlay--left {
    &::before {
      box-shadow: inset 0.25em 0 0.5em -0.25em transparentize(color('night'), 0.8);
      content: '';
      height: 100%;
      pointer-events: none;
      position: absolute;
      width: 100%;
      z-index: 1;
    }
  }

  &__overlay--right {
    &::after {
      box-shadow: inset -0.25em 0 0.5em -0.25em transparentize(color('night'), 0.8);
      content: '';
      height: 100%;
      pointer-events: none;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 1;
    }
  }

  // These row variants have been left here because they're dependent on `.table--<variant>`
  &--bordered {
    .table__body {
      .table__row {
        border-top: border();
      }
    }
  }

  &--hoverable {
    .table__body {
      .table__row {
        &:hover,
        &:focus {
          background-color: color('grey', 'light');
        }
      }
    }
  }

  &--striped {
    .table__body {
      .table__row:nth-child(even) {
        background-color: lighten(color('grey', 'lighter'), 3%);
      }
    }
  }
}
