.label {
  // label style

  &--radio {
    @include control-inline-label;
  }
}

.radio {
  @include check-or-radio {
    border-radius: 50%;
  }

  &:checked ~ &__check::after {
    background-color: color('green');
    border-radius: 50%;
    content: '';
    height: 0.75em;
    position: relative;
    width: 0.75em;
  }
}
