@import 'base/typography';

html {
  box-sizing: border-box;
}

* {

  &,
  &:before,
  &:after {
    box-sizing: inherit;
  }
}

html,
body {
  @include font-size(5);
  color: colour('spartan-black');
  font-family: $font-family-sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

code {
  background-color: #f5f5f5;
  border-radius: $spacing-quarter;
  color: hsla(348, 100%, 61%, 1);
  font-family: $font-family-monospaced;
  padding: $spacing-quarter $spacing-half;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

img,
embed,
iframe,
object,
audio,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: $spacing-half;
  text-align: left;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
}