.file-input {

  // bind parent class name
  $parent: &;

  display: inline-block;

  // hides the default element
  &__control {
    @include control-invisible-base;

    &:focus ~ #{$parent}__display {
      @include control-focused;
    }
  }

  // inner wrapper around control and count
  &__inner {
    align-items: center;
    display: flex;
    font-weight: $font-weight-regular;
    text-transform: none;
  }

  // the element being displayed in place of the <input />
  &__display {
    @include button-base;
    @include button-outline('night');

    &--invalid {
      @include control-invalid;

      border: none !important;
    }
  }

  // count of files
  &__count {
    margin-left: spacing('half');
  }

  // limit of files
  &__limit {
    @include font-size(6);

    color: color('night', 'lighter');
    margin: spacing() spacing('none');
  }

  // list of files
  &__list {
    display: flex;
    flex-wrap: wrap;
    padding: spacing('none');
  }

  // an area with an icon
  &--droppable {
    #{$parent}__inner {
      display: inline-flex;
      flex-direction: column;
      justify-content: center;
    }

    #{$parent}__icon {
      margin: spacing('half');
      margin-top: spacing('none');
      opacity: 0.2;
      pointer-events: none;
      transition: all duration() easing();
    }

    #{$parent}__display {
      $area-width: 12em;

      @include control;

      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: spacing('quarter');
      text-align: center;
      width: $area-width;

      &:hover,
      &--dragover {
        background-color: color('ice');
        border-color: color('spartan_blue', 'lighter');

        #{$parent}__icon {
          opacity: 0.8;
        }
      }
    }

    #{$parent}__count {
      margin-left: spacing('none');
      margin-top: spacing('half');
    }
  }

  // disabled state
  &__control:disabled {
    pointer-events: none;

    & + #{$parent}__display {
      @include control-disabled;
    }
  }
}
