.label {
  @include font-size(5);
  display: block;
  font-weight: $font-weight-bold;
  text-transform: uppercase;

  &--fullwidth {
    width: 100%;
  }

  &:not(:last-child) {
    margin-right: spacing();
  }

  &:not(:first-child) {
    margin: spacing('loose') 0;
  }

  &--inline {
    align-items: center;
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;

    .select {
      // prevent arrow from overlapping default placeholder
      min-width: 16em;
    }

    .input,
    .select,
    .textarea {
      margin-top: 0;

      &__container {
        margin-left: spacing();
      }
    }

    &.label--reversed {
      flex-direction: row-reverse;
    }

    &:not(:first-child) {
      margin: spacing('half') 0;
    }
  }

  &__optional {
    @include font-size(6);
    color: color('night', 'light');
    font-weight: $font-weight-light;
    text-transform: none;
  }
}
